<div class="landing-page">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-5">
        <h1 class="display-4 mb-3">{{'welcome' | translate}}</h1>
        <p class="lead mb-4">{{ 'appDes' | translate}}</p>
        <div class="features row g-4 mb-5">
          <div class="col-md-4">
            <mat-icon class="feature-icon">check_circle</mat-icon>
            <h5>{{ 'title' | translate}}</h5>
            <p>{{ 'desc' | translate}}</p>
          </div>
          <div class="col-md-4">
            <mat-icon class="feature-icon">palette</mat-icon>
            <h5>{{ 'theme' | translate}}</h5>
            <p>{{ 'themeOpt' | translate}}</p>
          </div>
          <div class="col-md-4">
            <mat-icon class="feature-icon">insights</mat-icon>
            <h5>{{ 'progressTrac' | translate}}</h5>
            <p>{{'visual' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <mat-card appearance="outlined" class="login-card">
          <mat-card-header class="justify-content-center">
            <mat-card-title>{{'loginStart' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="p-4">
            @if (!isRegistering) {
              <form (ngSubmit)="login()">
                <mat-form-field appearance="outline" class="w-100 mb-3 theme-form-field">
                  <mat-label>{{'email' | translate}}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="loginForm.email"
                    name="email"
                    type="email"
                    placeholder="{{'emailPH' | translate}}"
                    required
                    >
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 mb-3 theme-form-field">
                  <mat-label>{{'pass' | translate}}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="loginForm.password"
                    name="password"
                    type="password"
                    placeholder="{{'passPH' | translate}}"
                    required
                    >
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  class="w-100"
                  type="submit"
                  >
                  {{ 'login' | translate }}
                </button>
                <mat-divider class="my-4"></mat-divider>
                <button
                  mat-stroked-button
                  color="primary"
                  class="w-100 mb-3 google-signin-btn"
                  type="button"
                  (click)="signInWithGoogle()"
                  >
                  <img src="../../../assets/google.png" alt="Google" class="google-icon">
                  <!-- <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="Google" class="google-icon">  -->
                  {{'signIn' | translate}}
                </button>
                <div class="text-center mt-3">
                  <p class="mb-0">{{'acc' | translate}}</p>
                  <button
                    mat-button
                    color="primary"
                    type="button"
                    (click)="toggleRegister()"
                    >
                    {{'new' | translate}}
                  </button>
                </div>
              </form>
            }

            @if (isRegistering) {
              <form (ngSubmit)="register()">
                <mat-form-field appearance="outline" class="w-100 mb-3 theme-form-field">
                  <mat-label>{{'name' | translate}}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="registerForm.name"
                    name="name"
                    type="text"
                    placeholder="{{'namePH' | translate}}"
                    required
                    >
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 mb-3 theme-form-field">
                  <mat-label>{{'email' | translate}}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="registerForm.email"
                    name="email"
                    type="email"
                    placeholder="{{'emailPH' | translate}}"
                    required
                    >
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 mb-3 theme-form-field">
                  <mat-label>{{'pass' | translate}}</mat-label>
                  <input
                    matInput
                    [(ngModel)]="registerForm.password"
                    name="password"
                    type="password"
                    placeholder="{{'createPass' | translate}}"
                    required
                    >
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <!-- <mat-form-field appearance="outline" class="w-100 mb-3">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  [(ngModel)]="registerForm.confirmPassword"
                  name="confirmPassword"
                  type="password"
                  placeholder="Confirm your password"
                  required
                  >
                <mat-icon matSuffix>lock_clock</mat-icon>
              </mat-form-field> -->
              <button
                mat-raised-button
                color="primary"
                class="w-100"
                type="submit"
                >
                {{'createAcc' | translate}}
              </button>
              <mat-divider class="my-4"></mat-divider>
              <button
                mat-stroked-button
                color="primary"
                class="w-100 mb-3 google-signin-btn"
                type="button"
                (click)="signInWithGoogle()"
                >
                <img src="../../../assets/google.png" alt="Google" class="google-icon">
                <!-- <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_icon.png" alt="Google" class="google-icon">  -->
                {{'signIn' | translate}}
              </button>
              <div class="text-center mt-3">
                <p class="mb-0">{{'alredayacc' | translate}}</p>
                <button
                  mat-button
                  color="primary"
                  type="button"
                  (click)="toggleRegister()"
                  >
                  {{'loginIns' | translate}}
                </button>
              </div>
            </form>
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
</div>